<div class="container mx-auto mt-6 p-5">
    <h1 class="text-5xl font-bold mb-6 text-center">List of Orders</h1>

    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
        <thead>
            <tr class="bg-gray-100 border-b border-gray-200">
                <th class="px-6 py-3 text-left text-gray-700">#</th>
                <th class="px-6 py-3 text-left text-gray-700">ID</th>
                <th class="px-6 py-3 text-left text-gray-700">Status</th>
                <th class="px-6 py-3 text-left text-gray-700">Description</th>
                <th class="px-6 py-3 text-left text-gray-700">Date/Time Created</th>
                <th class="px-6 py-3 text-left text-gray-700">Payment</th>
                <th class="px-6 py-3 text-center">Operations</th>
            </tr>
        </thead>
        <tbody>
            <% if (orders && orders.length> 0) { %>
                <% orders.forEach((order, index)=> { %>
                    <tr class="border-b border-gray-200">
                        <td class="px-6 py-4 text-center">
                            <%= index + 1 %>
                        </td>
                        <td class="px-6 py-4">
                            <%= order.id %>
                        </td>
                        <td class="px-6 py-4">
                            <%= order.status %>
                        </td>
                        <td class="px-6 py-4">
                            <%= order.description %>
                        </td>
                        <td class="px-6 py-4">
                            <%= order.dateTimeCreate %>
                        </td>
                        <td class="px-6 py-4">
                            <%= order.payment %>
                        </td>
                        <td class="px-6 py-4 text-center">
                            <% if (order.status==="pending" ) { %>
                                <form method="post" action="/order/accect/<%= order.id %>">
                                    <button
                                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                        Accept Ship
                                    </button>
                                </form>
                                <% } %>

                                    <% if (order.status==="completed" ) { %>
                                        <form method="post" action="/order/cancel/<%= order.id %>">
                                            <button
                                                class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
                                                Cancel Ship
                                            </button>
                                        </form>
                                        <% } %>

                                            <% if (order.status==="completed" ) { %>
                                                <form method="post" action="/order/success/<%= order.id %>">
                                                    <button
                                                        class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
                                                        Ship Success
                                                    </button>
                                                </form>
                                                <% } %>
                                                    <a href="/order/<%= order.id %>">
                                                        <button
                                                            class="bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">
                                                            Detail
                                                        </button>
                                                    </a>

                        </td>
                    </tr>
                    <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="7" class="text-center py-2">No orders available.</td>
                            </tr>
                            <% } %>
        </tbody>
    </table>
</div>